# Assignment 01: Evaluate the Ad Budget Dataset of XYZ Firm

Analysing Ad Budgets for different media channels
Problem:
The given dataset contains ad budgets for different media channels and the corresponding ad sales of XYZ firm. Evaluate the dataset to:

    Find the features or media channels used by the firm
    Find the sales figures for each channel
    Create a model  to predict the sales outcome
    Split as training and testing datasets for the model
    Calculate the Mean Square Error (MSE)
* * *

#### 1: Import the dataset

In [2]:
#Import the required libraries
import pandas as pd

In [3]:
#Import the advertising dataset
df_ad_datasetRaw = pd.read_csv("Advertising_Budget_and_Sales.csv", index_col=0)

#### 2: Analyze the dataset

In [4]:
#View the initial few records of the dataset
df_ad_datasetRaw.head()

      TV  Radio  Newspaper  Sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [5]:
#Check the total number of elements in the dataset
df_ad_datasetRaw.size

800

#### 3: Find the features or media channels used by the firm

In [6]:
#Check the number of observations (rows) and attributes (columns) in the dataset
df_ad_datasetRaw.shape

(200, 4)

In [7]:
#View the names of each of the attributes
df_ad_datasetRaw.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

#### 4: Create objects to train and test the model; find the sales figures for each channel

In [8]:
df_ad_datasetRaw

        TV  Radio  Newspaper  Sales
1    230.1   37.8       69.2   22.1
2     44.5   39.3       45.1   10.4
3     17.2   45.9       69.3    9.3
4    151.5   41.3       58.5   18.5
5    180.8   10.8       58.4   12.9
..     ...    ...        ...    ...
196   38.2    3.7       13.8    7.6
197   94.2    4.9        8.1    9.7
198  177.0    9.3        6.4   12.8
199  283.6   42.0       66.2   25.5
200  232.1    8.6        8.7   13.4

[200 rows x 4 columns]

In [9]:
#Create a feature object from the columns
x_feature = df_ad_datasetRaw[['TV','Radio','Newspaper']]

In [10]:
#View the feature object
x_feature.head()

      TV  Radio  Newspaper
1  230.1   37.8       69.2
2   44.5   39.3       45.1
3   17.2   45.9       69.3
4  151.5   41.3       58.5
5  180.8   10.8       58.4

In [11]:
#Create a target object (Hint: use the sales column as it is the response of the dataset)
y_feature = df_ad_datasetRaw[['Sales']]

In [12]:
#View the target object
y_feature.head()

   Sales
1   22.1
2   10.4
3    9.3
4   18.5
5   12.9

In [13]:
#Verify if all the observations have been captured in the feature object
x_feature.shape

(200, 3)

In [14]:
#Verify if all the observations have been captured in the target object
y_feature.shape

(200, 1)

#### 5: Split the original dataset into training and testing datasets for the model

In [17]:
#Split the dataset (by default, 75% is the training data and 25% is the testing data)
from sklearn.model_selection import train_test_split

In [19]:
#Verify if the training and testing datasets are split correctly (Hint: use the shape() method)
x_train, x_test, y_train, y_test = train_test_split(x_feature,y_feature,random_state=1)

In [24]:
#print the train and test data shape
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(150, 3)
(150, 1)
(50, 3)
(50, 1)

#### 6: Create a model  to predict the sales outcome

In [26]:
#Create a linear regression model
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
linreg.fit(x_train,y_train)

LinearRegression()

In [28]:
#Print the intercept and coefficients 
print(linreg.intercept_)
print(linreg.coef_)

[2.87696662]
[[0.04656457 0.17915812 0.00345046]]

In [31]:
#Predict the outcome for the testing dataset
y_pred = linreg.predict(x_test)
y_pred

array([[21.70910292],
       [16.41055243],
       [ 7.60955058],
       [17.80769552],
       [18.6146359 ],
       [23.83573998],
       [16.32488681],
       [13.43225536],
       [ 9.17173403],
       [17.333853  ],
       [14.44479482],
       [ 9.83511973],
       [17.18797614],
       [16.73086831],
       [15.05529391],
       [15.61434433],
       [12.42541574],
       [17.17716376],
       [11.08827566],
       [18.00537501],
       [ 9.28438889],
       [12.98458458],
       [ 8.79950614],
       [10.42382499],
       [11.3846456 ],
       [14.98082512],
       [ 9.78853268],
       [19.39643187],
       [18.18099936],
       [17.12807566],
       [21.54670213],
       [14.69809481],
       [16.24641438],
       [12.32114579],
       [19.92422501],
       [15.32498602],
       [13.88726522],
       [10.03162255],
       [20.93105915],
       [ 7.44936831],
       [ 3.64695761],
       [ 7.22020178],
       [ 5.9962782 ],
       [18.43381853],
       [ 8.39408045],
       [14.08371047],
       [15.02195699],
       [20.35836418],
       [20.57036347],
       [19.60636679]])

#### 7: Calculate the Mean Square Error (MSE)

In [35]:
#Import required libraries for calculating MSE (mean square error)
from sklearn import metrics
import numpy as np

In [36]:
#Calculate the MSE
print (np.sqrt(metrics.mean_squared_error(y_test,y_pred)))

1.4046514230328953