In [1]:
#Movielens Case Study
DESCRIPTION

Background of Problem Statement :

The GroupLens Research Project is a research group in the Department of Computer Science and Engineering at the University of Minnesota. Members of the GroupLens Research Project are involved in many research projects related to the fields of information filtering, collaborative filtering, and recommender systems. The project is led by professors John Riedl and Joseph Konstan. The project began to explore automated collaborative filtering in 1992 but is most well known for its worldwide trial of an automated collaborative filtering system for Usenet news in 1996. Since then the project has expanded its scope to research overall information by filtering solutions, integrating into content-based methods, as well as, improving current collaborative filtering technology.

Problem Objective :

Here, we ask you to perform the analysis using the Exploratory Data Analysis technique. You need to find features affecting the ratings of any particular movie and build a model to predict the movie ratings.

Domain: Entertainment

Analysis Tasks to be performed:

    Import the three datasets
    Create a new dataset [Master_Data] with the following columns MovieID Title UserID Age Gender Occupation Rating. (Hint: (i) Merge two tables at a time. (ii) Merge the tables using two primary keys MovieID & UserId)
    Explore the datasets using visual representations (graphs or tables), also include your comments on the following:

    User Age Distribution
    User rating of the movie “Toy Story”
    Top 25 movies by viewership rating
    Find the ratings for all the movies reviewed by for a particular user of user id = 2696

    Feature Engineering:

            Use column genres:

    Find out all the unique genres (Hint: split the data in column genre making a list and then process the data to find out only the unique categories of genres)
    Create a separate column for each genre category with a one-hot encoding ( 1 and 0) whether or not the movie belongs to that genre. 
    Determine the features affecting the ratings of any particular movie.
    Develop an appropriate model to predict the movie ratings

Dataset Description :

These files contain 1,000,209 anonymous ratings of approximately 3,900 movies made by 6,040 MovieLens users who joined MovieLens in 2000.

Ratings.dat
    Format - UserID::MovieID::Rating::Timestamp
Field 	Description
UserID 	Unique identification for each user
MovieID 	Unique identification for each movie
Rating 	User rating for each movie
Timestamp 	Timestamp generated while adding user review

    UserIDs range between 1 and 6040 
    The MovieIDs range between 1 and 3952
    Ratings are made on a 5-star scale (whole-star ratings only)
    A timestamp is represented in seconds since the epoch is returned by time(2)
    Each user has at least 20 ratings

     

Users.dat
Format -  UserID::Gender::Age::Occupation::Zip-code
Field 	Description
UserID 	Unique identification for each user
Genere 	Category of each movie
Age 	User’s age
Occupation 	User’s Occupation
Zip-code 	Zip Code for the user’s location

All demographic information is provided voluntarily by the users and is not checked for accuracy. Only users who have provided demographic information are included in this data set.

    Gender is denoted by an "M" for male and "F" for female
    Age is chosen from the following ranges:

 
Value 	Description
1 	"Under 18"
18 	"18-24"
25 	"25-34"
35 	"35-44"
45 	"45-49"
50 	"50-55"
56 	"56+"

 

    Occupation is chosen from the following choices:

Value
  	Description
0 	"other" or not specified
1 	"academic/educator"
2 	"artist”
3 	"clerical/admin"
4 	"college/grad student"
5 	"customer service"
6 	"doctor/health care"
7 	"executive/managerial"
8 	"farmer"
9 	"homemaker"
10 	"K-12 student"
11 	"lawyer"
12 	"programmer"
13 	"retired"
14 	 "sales/marketing"
15 	"scientist"
16 	 "self-employed"
17 	"technician/engineer"
18 	"tradesman/craftsman"
19 	"unemployed"
20 	"writer”


Movies.dat
Format - MovieID::Title::Genres
Field 	Description
MovieID 	Unique identification for each movie
Title 	A title for each movie
Genres 	Category of each movie

 

     Titles are identical to titles provided by the IMDB (including year of release)

 

    Genres are pipe-separated and are selected from the following genres:

    Action
    Adventure
    Animation
    Children's
    Comedy
    Crime
    Documentary
    Drama
    Fantasy
    Film-Noir
    Horror
    Musical
    Mystery
    Romance
    Sci-Fi
    Thriller
    War
    Western

    Some MovieIDs do not correspond to a movie due to accidental duplicate entries and/or test entries
    Movies are mostly entered by hand, so errors and inconsistencies may exist

Please download the dataset from here 

Good Luck!

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 120)

In [10]:
# impirting library
import numpy as np  
import pandas as pd

In [6]:
import csv
#import words.txt
"""
 def convertData2CSV(dat_file):
    for line in dat_file:
        row = [field.strip() for field in line.split('::')]
        if len(row) == 4:
            csv_writer.writerow(row)
            return
"""

with open('../data/ratings.dat') as dat_file, open('../data/ratings.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file)
    featur_names = ['UserID','MovieID','Rating','Timestamp']
    csv_writer.writerow(featur_names)
    for line in dat_file:
        row = [field.strip() for field in line.split('::')]
        if len(row) == 4:
            csv_writer.writerow(row)
            
with open('../data/users.dat') as dat_file, open('../data/users.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file)
    featur_names = ['UserID','Genere','Age','Occupation','Zip_code']
    csv_writer.writerow(featur_names)
    for line in dat_file:
        row = [field.strip() for field in line.split('::')]
        if len(row) == 5:
            csv_writer.writerow(row)

with open('../data/movies.dat') as dat_file, open('../data/movies.csv', 'w') as csv_file:
    csv_writer = csv.writer(csv_file)
    featur_names = ['MovieID','Title','Genres_1','Genres_2','Genres_3','Genres_4','Genres_5','Genres_6']
    csv_writer.writerow(featur_names)
    for line in dat_file:
        row = [field.strip() for field in line.split('::')]
        if len(row) == 3:
            csv_writer.writerow(row)


text = open('../data/movies.csv', "r") 
text = ''.join([i for i in text])           #join() method combines all contents of movies.csv and formed as a string 
text = text.replace("|", ",")               # search '|' and replace with ','   
x = open("../data/movies.csv","w") 
x.writelines(text) 
x.close()

(0, 5)

In [11]:
df_ratings = pd.read_csv('../data/ratings.csv')

In [12]:
df_users = pd.read_csv('../data/users.csv')

In [14]:
df_movies = pd.read_csv('../data/movies.csv',encoding='ISO-8859-1')

In [20]:
Master_Data = pd.merge(df_ratings, df_movies, on='MovieID')

In [22]:
Master_Data = pd.merge(Master_Data, df_users, on='UserID')

In [23]:
Master_Data

,UserID,MovieID,Rating,Timestamp,Title,Genres_1,Genres_2,Genres_3,Genres_4,Genres_5,Genres_6,Genere,Age,Occupation,Zip_code
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975),Drama,NaN,NaN,NaN,NaN,NaN,F,1,10,48067
1,1,661,3,978302109,James and the Giant Peach (1996),Animation,Children's,Musical,NaN,NaN,NaN,F,1,10,48067
2,1,914,3,978301968,My Fair Lady (1964),Musical,Romance,NaN,NaN,NaN,NaN,F,1,10,48067
3,1,3408,4,978300275,Erin Brockovich (2000),Drama,NaN,NaN,NaN,NaN,NaN,F,1,10,48067
4,1,2355,5,978824291,"Bug's Life, A (1998)",Animation,Children's,Comedy,NaN,NaN,NaN,F,1,10,48067
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000204,4211,3791,2,965319075,Footloose (1984),Drama,NaN,NaN,NaN,NaN,NaN,M,45,5,77662
1000205,4211,3806,3,965319138,MacKenna's Gold (1969),Western,NaN,NaN,NaN,NaN,NaN,M,45,5,77662
1000206,4211,3840,4,965319197,Pumpkinhead (1988),Horror,NaN,NaN,NaN,NaN,NaN,M,45,5,77662
1000207,4211,3766,2,965319138,Missing in Action (1984),Action,War,NaN,NaN,NaN,NaN,M,45,5,77662
1000208,4211,3834,2,965318885,Bronco Billy (1980),Adventure,Drama,Romance,NaN,NaN,NaN,M,45,5,77662